.filterButton{
     border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    background-color: inherit;
}
.regPlates {
    width: 40%;
    border-radius: 30px;
    border-style: solid;
    border-width: 10px;
    height: 30px;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: yellow;
    font-weight: bold;
    text-transform: uppercase;
}

.input {
    width: 40%;
    height: 130px;
    text-align: center;
    margin: auto;
    background-color: skyblue;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.theButton {
    margin-left: inherit;
    margin-right: inherit;
    border-top-right-radius: 35%;
    border-top-left-radius: 35%;
    background-color: inherit;
}

.regNum {
    margin-top: 5px;
    margin-bottom: 5px;
}

body {
background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRHfI74Kas9UvF1EpLaGweAEucWTBZnP_9vseczSTRnHvfU_Oc-');
}
